parameters:
    level: 9

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - identifier: doctrine.columnType
        - identifier: return.type
        - identifier: argument.type
        - identifier: argument.templateType
        - identifier: missingType.iterableValue
        - identifier: function.alreadyNarrowedType
        - identifier: staticProperty.nonStaticAccess
        - identifier: method.notFound
        - identifier: missingType.generics
        - identifier: doctrine.associationType
        - identifier: missingType.return
        - '#Unreachable statement#'

    paths:
        - src/
        - tests/

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    excludePaths:
        - var/*
        - vendor/*
        - src/Kernel.php
        - tests/bootstrap.php