<header {{ attributes.defaults({class: "border-bottom py-5"}) }}>
    <div class="container">
        <h1 class="h2 text-uppercase title fw-bold mb-">{{ title }}</h1>
        <div>
            {% block content %}{% endblock %}
        </div>
        
        {% if block('footer') is defined %}
            <footer class="mt-4">
                {% block footer %}{% endblock %}
            </footer>
        {% endif %}
    </div>
</header>