<header {{ attributes.defaults({class: "border-bottom py-5"}) }}>
    <div class="container">
        <h1 class="h2 text-uppercase title fw-bold mb-">{{ title }}</h1>
        {% block content %}{% endblock %}
    </div>
</header>