<div{{ attributes.defaults({class: "col-12 col-sm-6"}) }}>
    <input 
        type="search" 
        data-model="debounce(300)|query"
        class="form-control" 
        placeholder="{{ placeholder }}" 
    />
</div>