.my-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--read-more-line-clamp, 1);
}

p:last-of-type {
    margin-bottom: 0 !important;
}