/* FONT */
$font-family-base: "Poppins";
$body-color: #4f4f4f;

.title {
    color: #22133a !important;
}

/* FORM */
$form-label-margin-bottom: 0.25rem;
$form-label-font-weight: 600;

/* MODAL */
$modal-content-border-width: 0;

/* OTHERS */
.icon {
    width: 24px;
    height: 24px;
}

.cursor {
    cursor: pointer;
}

@import '../../vendor/thomaspark/bootswatch/dist/pulse/variables';
@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import '../../vendor/thomaspark/bootswatch/dist/pulse/bootswatch';