{% extends 'base.html.twig' %}

{% block title %}Mes Workspaces{% endblock %}

{% block body %}
<section>
    <twig:Partials:HeaderPage title="La liste des Workspaces">
        <twig:block name="content">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workspaceRegister">Ajouter</button>
        </twig:block>
    </twig:Partials:HeaderPage>

    <twig:Partials:ContentPage>
        <twig:block name="content">
            <twig:Workspace:Lists />
        </twig:block>
    </twig:Partials:ContentPage>

    <twig:Bootstrap:Modal title="Ajouter un workspace" id="workspaceRegister">
        <twig:block name="content">
            <twig:Workspace:Form />
        </twig:block>
    </twig:Bootstrap:Modal>

    {% include "partials/_flashes.html.twig" %}

</section>
{% endblock %}
