<div {{ attributes.defaults({class: "row"}) }}>
    <small class="col-12 col-md-4 col-lg-12 col-xl-4 fw-semibold text-uppercase">{{ key }}</small>
    <span class="col-12 col-md-8 col-lg-12 col-xl-8">{{ value }}</span>
</div>